node_modules/
dist/
.next/
coverage/
*.log
*.tsbuildinfo
.env
.env.local
.DS_Store
apps/api/.env
apps/web/playwright-report/
apps/web/test-results/

# override docker local (non versionné)
docker-compose.override.yml
